*, ::before,::after {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "inter";
}
html {
  
}
body {
  margin: 0;
  position: relative;
  
}

/*-----------header------------------*/

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-height: 20.8rem;  
  margin: 0;
  
}
.header-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  width: 100%;
  position: absolute;
  z-index: 1;
  
}
h1 {
  font-size: 4.2rem;
  color: white;
  font-weight: bold;
  margin: 0;
}
h3 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
}
h4 {
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: white;
}
/*---------imagen header-----------------------*/

#header-img {
  
  transform: translateY(20%);
  filter: brightness(20%);
  object-fit: cover;
  width: 100%;
  height: auto;
}
form {
  display: flex;
  justify-content: center; /*----input and button together*/
  position: absolute; /*relative body---------*/
  top: 91%;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
  
}
input, .input-btn {
  font-size: 1.2rem;
}

.input-btn {
  padding: 0.4rem 1rem;
  margin: 0;
  height: 3.8rem;
  font-weight: 600;
  color: rgb(104, 104, 104);
  border: 1.2px solid gainsboro;
  border-radius: 0 5px 5px 0;
  width: 10rem;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-radial-gradient(circle, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(circle, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  transition: all 0.4s ease;
  
}
.input-btn:hover {
  filter: brightness(1.3);
  border: 1.4px solid rgb(176, 176, 176);
  color: rgb(89, 89, 89);
  font-weight: 700;
  background: #dcd8d4;
  background: radial-gradient(circle, #f2f2f2, #dcd8d4);

}

input {
  position: relative;
  border: 1.2px solid gainsboro;
  background-image: url("./assets/search.svg");
  background-size: 1.5rem ;
  background-repeat: no-repeat;
  background-position: 3% 50% ;
  width: 30rem;
  margin: 0;
  height: 3.8rem;
  border-radius: 5px 0 0 5px;
  padding-left: 3rem;
  font-weight: 600;
  color: rgb(149, 149, 149);
  text-transform: capitalize;
}
.input-search::placeholder {
  
  font-weight: 600;
  color: rgb(149, 149, 149);
}
input:focus {
  outline: none;
}

/*----------------medias header-------------------------*/
@media(min-width:50rem) {
  #header-img { 
      transform: translateY(25%);
  }  
}
@media(min-width:70rem) {
  #header-img { 
      transform: translateY(30%);
  }  
}
/*----------main content-------------*/



main, .container-theme {
  margin: 0;
  padding: 0;

}
.container-theme {
    
    position: absolute; /*relative body-------alows input to stay between img container and  main-----*/
    z-index: -1;
    min-height: calc(100vh - 20.8rem);
    width: 100vw;
}
.container-theme {
  /*--------------------initial grid mobil first---*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "..."
      "svg"
      "..."
  ;
}
.filled {
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
  "... ... ..."
  "... mo0 ..."
  "... mo1 ..."
  "... mo2 ..."
  "... mo3 ..."
  "... mo4 ..."
  "... ... ..."
  ;
  
  

}
#movie-0 {
  grid-area: mo0;
  border: none;
}
#movie-1 {
  grid-area: mo1;
}
#movie-2 {
  grid-area: mo2;
}
#movie-3 {
  grid-area: mo3;
}
#movie-4 {
  grid-area: mo4;
}
.no-data-svg {
  grid-area: svg;
  filter: invert(0); 
  width: 15rem;
  margin: 0 auto;
  
}
/* main film list --------------grid */
/**/


.box-film {
  margin: 0 5rem;
  padding: 5rem 0;
  border-top: 0.2rem solid #E5E7EB;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
 
  
}

.movie-img{
  border-radius: 0.3rem;
  max-width: 9.9rem;
}
.text-container {
   margin-left: 2.1rem;
   display: flex;
   flex-direction: column;
}
.title-box {
  display: flex;
  
  align-content: center;
  align-items: center;
}
.title-calification {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.title-text{
  padding: 0;
  margin: 0;
}
.star {
  margin-left: 0.6rem;
  width: 1.1rem;
}
.star-num {
  font-size: 1.2rem;
  margin-left: 0.2rem;
}

.inline-container{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 3rem;
}
.add-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.add-img {
  padding: 0;
  width: 3rem;
  height: 3rem;
  
}




.add-container  h4 {
  margin-left: 1rem;
 
}


.paragraf-info-container h3 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #6B7280;
  line-height: 1.8rem;
}